.navbar {
  width: 100%;
  min-height: 100px;
  color: white;
  background-color: black;
}

.navbar__logo {
  padding: 20px 0px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar__link {
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.navbar__link:hover {
  color: red;
  transition: all 0.8s ease;
}

body.light .navbar {
  background-color: white;
  border-bottom: 2px solid #ddd;
}

body.light .navbar__link,
body.light .navbar__logo {
  color: black;
}

@media (max-width: 500px) {
  .navbar {
    height: auto;
    padding-bottom: 15px;
  }

  .navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .navbar__logo {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .navbar__link {
    font-size: 14px;
  }

  .navbar li {
    margin-top: 15px;
  }
}