.quiz {
    width: 90%;
    margin: 40px auto;
}

.quiz__title {
    text-align: center;
    margin-bottom: 40px;
    color: red;
}

.quiz__card {
    background: #181818;
    border: 2px solid #333;
    padding: 40px;
    margin-bottom: 25px;
    margin-top: 40px;
    border-radius: 15px;
}

.quiz__category {
    color: orange;
    font-weight: bold;
    margin-bottom: 10px;
}

.quiz__options {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}

.quiz__option {
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    background: #000;
    color: red;
    transition: 0.3s;
    font-weight: bold;
}

.quiz__option:hover {
    background: red;
    color: white;
}

body.light .quiz__card {
    background: white;
    border: 1px solid #ccc;
}

body.light .quiz__option {
    background: #f2f2f2;
    color: black;
}

body.light .quiz__option:hover {
    background: #222;
    color: white;
}

.quiz__progress {
    width: 150px;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background: black;
    color: red;
    font-weight: bold;
}

.quiz__next {
    margin-top: 30px;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 12px;
    background: red;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.quiz__next:hover {
    background: #b60000;
}

.quiz__option.active {
    background: green;
    color: white;
}

.quiz__score {
    margin-top: 30px;
    text-align: center;
    color: orange;
    font-size: 25px;
    font-weight: bold;
}

.quiz__loading {
    text-align: center;
    margin-top: 100px;
    color: red;
}

.quiz__result {
    width: 500px;
    max-width: 95%;
    margin: 50px auto;
    background: #181818;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    border: 1px solid #333;
}

.quiz__mode {
    width: 700px;
    max-width: 95%;
    margin: 50px auto;
    background-color: #000;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    border: 2px solid #181818;
}

.quiz__result h2 {
    color: orange;
    margin-bottom: 25px;
}

.quiz__result p {
    margin: 18px 0;
    font-size: 20px;
}

.quiz__restart {
    margin-top: 30px;
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 15px;
    background: red;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.quiz__restart:hover {
    background: #bb0000;
}

body.light .quiz__result {
    background: white;
    border: 1px solid #ccc;
}

.quiz__timer {
    width: 150px;
    margin: 15px auto;
    text-align: center;
    padding: 12px;
    border-radius: 10px;
    background: green;
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.quiz__timer.danger {
    background: red;
    animation: pulse .8s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.08);
  }

  100% {
    transform: scale(1);
  }
}

.wrong__card {
    margin-top: 25px;
    padding: 20px;
    border-radius: 15px;
    background: #222;
    text-align: left;
}

.wrong__card h4 {
    margin-bottom: 12px;
}

.wrong {
    color: red;
    font-weight: bold;
}

.correct {
    color: lime;
    font-weight: bold;
}

body.light .wrong__card {
    background: #eeeeee;
}

.history {
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
    background: #111;
}

body.light .history {
    background: #f5f5f5;
}

.quiz__btn {
    margin: 0;
    padding-bottom: 20px;
}

@media(max-width: 700px) {
 .quiz__options {
    grid-template-columns: 1fr;
 }
}