.theme__btn {
  padding: 12px 18px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  background-color: black;
  color: white;
  transition: 0.5s;
}

.theme__btn:hover {
  background-color: red;
}

@media (max-width: 500px) {
  .theme__btn {
    padding: 10px;
    font-size: 14px;
  }
}